.nav button home and about {
    color: black;
    font-size: 20px;
    text-align: center;
}
.h1 home{
    color: Red;
    font-size: 30px;
    text-align: center;
}
.h2 The car of the Day!{
    color: Red;
    font-size: 30px;
    text-align: center;
}
.h1 Contact Us {
    color: Red;
    font-size: 30px;
    text-align: center;
}
.img {
    text-align: center;
}
#background {
    background color: black;
}
.h1 About {
    color: red;
    text-align: center;
    font-size: 30px;
}